html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 1.3rem;
}

input, textarea,
label{
    display: block;
}

input,
textarea{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.19);
}

textarea{
    resize: none;
    min-height: 100px;
}

form{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.091);
    padding: 1rem;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
}

button{
    padding: 0.8rem 1.5rem;
    border: none;
    background-color: rgb(0, 89, 255);
    color: white;
    cursor: pointer;
}
